In [0]:
https://docs.delta.io/latest/delta-update.html#upsert-into-a-table-using-merge

Merge into
1. cdc: change data capture
2. No duplicates
3. UpSert: UPdate and inSert, delete

In [0]:
data=([(1,"Naval","India",'Insert'),(2,'Om','US','Insert')])
schema="id int , name string, country string, operation string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
data=([(1,"Naval","UK",'Update'),(3,'David','US','Insert')])
schema="id int , name string, country string, operation string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
data=([(1,"Naval","UK",'Delete'),(3,'David','India','Update'),(4,'Basavaraj','India','Insert')])
schema="id int , name string, country string, operation string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
%sql
select * from source

In [0]:
%sql
create table saas.basavarajm_silver.employee(id int, name string, country string)

In [0]:
%sql
select * from saas.basavarajm_silver.employee

In [0]:
%sql
MERGE INTO saas.basavarajm_silver.employee t
USING source s
ON t.id = s.id
WHEN MATCHED AND s.operation = 'Delete'
then delete
WHEN MATCHED THEN
  UPDATE SET
   t.name=s.name,
   t.country=s.country
WHEN NOT MATCHED
  THEN INSERT (
    id,
   name,
   country
  )
  VALUES (
    s.id,
    s.name,
    s.country
  )

In [0]:
%sql
describe history saas.basavarajm_silver.employee